# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
front-end/node_modules/

# Expo
.expo/
front-end/.expo/
dist/
web-build/
expo-env.d.ts
front-end/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
front-end/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
front-end/.env
front-end/.env*.local

# editor
.vscode/

# typescript
*.tsbuildinfo
front-end/*.tsbuildinfo

# generated native folders
/ios
/android
front-end/ios
front-end/android

# backend
backend/target/
backend/.gradle/
backend/build/
*.class
