openapi: 3.0.3
info:
  title: Sistema de Subastas - API REST
  description: |
    API REST para la aplicación móvil del sistema de subastas.
    Permite a los usuarios registrarse, participar en subastas, realizar pujas,
    consignar bienes y consultar su historial y métricas.
  version: 1.0.0
  contact:
    name: Desarrollo de Aplicaciones I - 1C 2026

servers:
  - url: https://api.subastas.com/v1
    description: Servidor de producción
  - url: https://api-dev.subastas.com/v1
    description: Servidor de desarrollo

tags:
  - name: Autenticación
    description: Registro, login y gestión de sesión
  - name: Usuarios
    description: Perfil y datos del usuario
  - name: Medios de pago
    description: Gestión de medios de pago del usuario
  - name: Subastas
    description: Listado y acceso a subastas
  - name: Pujas
    description: Realizar y consultar pujas en subastas
  - name: Catálogo
    description: Ítems y catálogos de subastas
  - name: Consignación
    description: Solicitud y seguimiento de bienes consignados
  - name: Métricas
    description: Historial, estadísticas y multas del usuario

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        codigo:
          type: string
          example: "ERROR_CODIGO"
        mensaje:
          type: string
          example: "Descripción del error"

    Usuario:
      type: object
      properties:
        id:
          type: integer
          example: 42
        nombre:
          type: string
          example: "Juan"
        apellido:
          type: string
          example: "Pérez"
        email:
          type: string
          format: email
          example: "juan@example.com"
        categoria:
          $ref: '#/components/schemas/CategoriaUsuario'
        estado:
          type: string
          enum: [pendiente_verificacion, aprobado, bloqueado]
        domicilio_legal:
          type: string
        pais_origen:
          type: string
          example: "AR"
        fecha_registro:
          type: string
          format: date-time
        multas_pendientes:
          type: integer
          example: 0

    CategoriaUsuario:
      type: string
      enum: [comun, especial, plata, oro, platino]
      example: plata

    MedioPago:
      type: object
      properties:
        id:
          type: integer
          example: 10
        tipo:
          type: string
          enum: [cuenta_bancaria, tarjeta_credito, cheque_certificado]
        alias:
          type: string
          example: "Cuenta Galicia ARS"
        moneda:
          type: string
          enum: [ARS, USD]
        verificado:
          type: boolean
          example: true
        detalle:
          type: object
          description: Datos adicionales según el tipo de medio

    Subasta:
      type: object
      properties:
        id:
          type: integer
          example: 100
        titulo:
          type: string
          example: "Subasta de Arte Contemporáneo"
        descripcion:
          type: string
        fecha_inicio:
          type: string
          format: date-time
        categoria:
          $ref: '#/components/schemas/CategoriaUsuario'
        moneda:
          type: string
          enum: [ARS, USD]
        estado:
          type: string
          enum: [proxima, abierta, cerrada]
        ubicacion:
          type: string
        rematador:
          type: object
          properties:
            id:
              type: integer
            nombre:
              type: string
        total_items:
          type: integer
        puede_participar:
          type: boolean
        puede_pujar:
          type: boolean

    Item:
      type: object
      properties:
        item_id:
          type: integer
          example: 501
        numero_pieza:
          type: string
          example: "A-2024-001"
        descripcion:
          type: string
        precio_base:
          type: number
          format: float
          example: 10000.00
        estado:
          type: string
          enum: [disponible, en_subasta, vendido]
        dueno_actual:
          type: string
        imagenes:
          type: array
          items:
            type: object
            properties:
              imagen_id:
                type: integer
              url:
                type: string
              orden:
                type: integer
        componentes:
          type: array
          items:
            type: string
          description: Elementos que componen el ítem (si es un juego/colección)
        es_obra_arte:
          type: boolean
        artista:
          type: string
          description: Nombre del artista/diseñador (solo si es obra de arte)
        fecha_creacion:
          type: string
          description: Fecha o época de creación
        historia:
          type: string
          description: Contexto, dueños anteriores, curiosidades

    EstadoPuja:
      type: object
      properties:
        item_id:
          type: integer
        descripcion:
          type: string
        precio_base:
          type: number
        mejor_oferta:
          type: number
          example: 15000.00
        mejor_postor_alias:
          type: string
        puja_minima:
          type: number
          example: 15100.00
          description: mejor_oferta + (precio_base × 0.01). No aplica en oro/platino.
        puja_maxima:
          type: number
          example: 17000.00
          description: mejor_oferta + (precio_base × 0.20). No aplica en oro/platino.
        moneda:
          type: string
          enum: [ARS, USD]
        estado_item:
          type: string
          enum: [en_subasta, adjudicado, sin_ofertas]

    Puja:
      type: object
      properties:
        puja_id:
          type: integer
        monto:
          type: number
        postor_alias:
          type: string
        timestamp:
          type: string
          format: date-time
        estado:
          type: string
          enum: [confirmada, rechazada, pendiente]

    Consignacion:
      type: object
      properties:
        consignacion_id:
          type: integer
        descripcion:
          type: string
        estado:
          type: string
          enum: [pendiente_revision, aceptada, rechazada, en_subasta, vendida, devuelta]
        fecha_solicitud:
          type: string
          format: date-time
        motivo_rechazo:
          type: string
          nullable: true
        subasta_asignada:
          type: integer
          nullable: true
        valor_base:
          type: number
          nullable: true
        comisiones:
          type: number
          nullable: true

    Metrica:
      type: object
      properties:
        total_subastas_asistidas:
          type: integer
        total_ganadas:
          type: integer
        total_ofertado:
          type: number
        total_pagado:
          type: number
        categoria_mas_participada:
          $ref: '#/components/schemas/CategoriaUsuario'
        subastas_por_categoria:
          type: object
          properties:
            comun:
              type: integer
            especial:
              type: integer
            plata:
              type: integer
            oro:
              type: integer
            platino:
              type: integer
        porcentaje_victorias:
          type: number
          format: float
          example: 34.5

    Multa:
      type: object
      properties:
        multa_id:
          type: integer
        monto:
          type: number
          description: 10% del valor ofertado
        motivo:
          type: string
        fecha_generacion:
          type: string
          format: date-time
        fecha_limite_pago:
          type: string
          format: date-time
        estado:
          type: string
          enum: [pendiente, pagada, derivada_justicia]

security:
  - BearerAuth: []

paths:

  # ─────────────────────────────────────────
  # AUTENTICACIÓN
  # ─────────────────────────────────────────

  /auth/registro/paso1:
    post:
      tags: [Autenticación]
      summary: Registro paso 1 - Datos personales
      description: El postor ingresa sus datos personales y fotos del documento. La empresa verifica externamente y asigna una categoría.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [nombre, apellido, domicilio_legal, pais_origen, foto_dni_frente, foto_dni_dorso]
              properties:
                nombre:
                  type: string
                  example: "Juan"
                apellido:
                  type: string
                  example: "Pérez"
                email:
                  type: string
                  format: email
                domicilio_legal:
                  type: string
                pais_origen:
                  type: string
                  example: "AR"
                foto_dni_frente:
                  type: string
                  format: binary
                foto_dni_dorso:
                  type: string
                  format: binary
      responses:
        '201':
          description: Solicitud recibida, pendiente de verificación
          content:
            application/json:
              schema:
                type: object
                properties:
                  usuario_id:
                    type: integer
                  estado:
                    type: string
                    example: "pendiente_verificacion"
                  mensaje:
                    type: string
                    example: "Recibirás un email cuando tu cuenta sea aprobada."
        '400':
          description: Datos inválidos o incompletos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: El email ya existe en el sistema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/registro/paso2:
    post:
      tags: [Autenticación]
      summary: Registro paso 2 - Completar registro y crear contraseña
      description: El usuario usa el token recibido por email para completar el registro y definir su contraseña personal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token_email, email, password]
              properties:
                token_email:
                  type: string
                  description: Token recibido por correo electrónico
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
                  description: Contraseña personal (mínimo 8 caracteres)
      responses:
        '200':
          description: Registro completado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  usuario_id:
                    type: integer
                  email:
                    type: string
                  categoria:
                    $ref: '#/components/schemas/CategoriaUsuario'
                  token_acceso:
                    type: string
        '400':
          description: Token inválido o expirado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: La cuenta aún no fue aprobada por la empresa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Autenticación]
      summary: Iniciar sesión
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login exitoso
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_acceso:
                    type: string
                  token_refresh:
                    type: string
                  usuario:
                    $ref: '#/components/schemas/Usuario'
        '401':
          description: Credenciales inválidas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Cuenta bloqueada por deuda o sanción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/logout:
    post:
      tags: [Autenticación]
      summary: Cerrar sesión
      responses:
        '200':
          description: Sesión cerrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Sesión cerrada correctamente"
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # USUARIOS
  # ─────────────────────────────────────────

  /usuarios/perfil:
    get:
      tags: [Usuarios]
      summary: Ver perfil propio
      responses:
        '200':
          description: Perfil del usuario autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # MEDIOS DE PAGO
  # ─────────────────────────────────────────

  /usuarios/medios-pago:
    get:
      tags: [Medios de pago]
      summary: Listar medios de pago registrados
      responses:
        '200':
          description: Lista de medios de pago del usuario
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedioPago'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Medios de pago]
      summary: Agregar un nuevo medio de pago
      description: |
        Permite registrar una cuenta bancaria (nacional o extranjera),
        tarjeta de crédito (nacional o extranjera) o cheque certificado.
        Los cheques deben ser entregados y verificados antes del inicio de la subasta.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tipo, alias, moneda]
              properties:
                tipo:
                  type: string
                  enum: [cuenta_bancaria, tarjeta_credito, cheque_certificado]
                alias:
                  type: string
                  example: "Cuenta Galicia ARS"
                moneda:
                  type: string
                  enum: [ARS, USD]
                datos_banco:
                  type: object
                  description: Requerido si tipo = cuenta_bancaria
                  properties:
                    cbu_iban:
                      type: string
                    banco:
                      type: string
                    titular:
                      type: string
                    pais:
                      type: string
                datos_tarjeta:
                  type: object
                  description: Requerido si tipo = tarjeta_credito
                  properties:
                    ultimos_4_digitos:
                      type: string
                    vencimiento:
                      type: string
                      example: "12/27"
                    titular:
                      type: string
                    es_internacional:
                      type: boolean
                monto_cheque:
                  type: number
                  description: Monto garantizado. Requerido si tipo = cheque_certificado
      responses:
        '201':
          description: Medio de pago registrado (pendiente verificación)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  tipo:
                    type: string
                  alias:
                    type: string
                  verificado:
                    type: boolean
                    example: false
                  mensaje:
                    type: string
                    example: "Pendiente de verificación por la empresa"
        '400':
          description: Datos inválidos o faltantes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usuarios/medios-pago/{id}:
    delete:
      tags: [Medios de pago]
      summary: Eliminar un medio de pago
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: ID del medio de pago a eliminar
      responses:
        '200':
          description: Medio de pago eliminado
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Medio de pago eliminado correctamente"
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Medio de pago no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: El medio de pago está en uso en una subasta activa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # SUBASTAS
  # ─────────────────────────────────────────

  /subastas:
    get:
      tags: [Subastas]
      summary: Listar subastas disponibles
      description: Retorna las subastas accesibles para el usuario según su categoría.
      parameters:
        - name: estado
          in: query
          schema:
            type: string
            enum: [proxima, abierta, cerrada]
          description: Filtrar por estado de la subasta
        - name: categoria
          in: query
          schema:
            $ref: '#/components/schemas/CategoriaUsuario'
          description: Filtrar por categoría
        - name: moneda
          in: query
          schema:
            type: string
            enum: [ARS, USD]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Lista de subastas
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subasta'
                  total:
                    type: integer
                  page:
                    type: integer
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subastas/{id}:
    get:
      tags: [Subastas]
      summary: Detalle de una subasta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Información completa de la subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subasta'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Categoría del usuario insuficiente para esta subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subasta no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subastas/{id}/conectar:
    post:
      tags: [Subastas]
      summary: Conectarse a una subasta activa
      description: |
        Permite al usuario ingresar a una subasta abierta.
        El usuario solo puede estar conectado a una subasta a la vez.
        Requiere al menos un medio de pago verificado para poder pujar.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medio_pago_id]
              properties:
                medio_pago_id:
                  type: integer
                  description: Medio de pago a utilizar en esta sesión de subasta
      responses:
        '200':
          description: Conectado exitosamente a la subasta
          content:
            application/json:
              schema:
                type: object
                properties:
                  sesion_id:
                    type: string
                  item_actual:
                    $ref: '#/components/schemas/EstadoPuja'
                  streaming_url:
                    type: string
                    description: URL del servicio de streaming (externo a la app)
        '400':
          description: El usuario ya está conectado a otra subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Sin medio de pago verificado o categoría insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subasta no encontrada o no está abierta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subastas/{id}/desconectar:
    post:
      tags: [Subastas]
      summary: Desconectarse de una subasta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Desconectado exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Desconectado de la subasta"
        '400':
          description: El usuario no estaba conectado a esta subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # PUJAS
  # ─────────────────────────────────────────

  /subastas/{id}/pujas/estado:
    get:
      tags: [Pujas]
      summary: Estado actual del ítem en subasta
      description: |
        Retorna la mejor oferta vigente y los límites de puja permitidos.
        Los límites son: mínimo = mejor_oferta + (precio_base × 0.01),
        máximo = mejor_oferta + (precio_base × 0.20).
        Estos límites NO aplican para subastas de categoría oro y platino.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Estado actual de la puja
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstadoPuja'
        '403':
          description: El usuario no está conectado a esta subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subasta no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subastas/{id}/pujas:
    post:
      tags: [Pujas]
      summary: Realizar una puja
      description: |
        Envía una oferta para el ítem actual en subasta.
        La app valida el monto antes de enviarlo al sistema.
        No se permite una nueva puja hasta recibir confirmación de la anterior (código 409 si hay una puja en proceso).
        Si el usuario no paga una puja ganada, recibe una multa del 10% del valor ofertado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [item_id, monto, medio_pago_id]
              properties:
                item_id:
                  type: integer
                monto:
                  type: number
                  description: Debe estar entre puja_minima y puja_maxima (excepto en oro/platino)
                medio_pago_id:
                  type: integer
      responses:
        '201':
          description: Puja registrada y confirmada
          content:
            application/json:
              schema:
                type: object
                properties:
                  puja_id:
                    type: integer
                  monto:
                    type: number
                  estado:
                    type: string
                    example: "confirmada"
                  timestamp:
                    type: string
                    format: date-time
                  nueva_mejor_oferta:
                    type: number
        '400':
          description: Monto fuera del rango permitido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Sin fondos suficientes, multa pendiente o no conectado a la subasta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Hay una puja en proceso. Esperar confirmación antes de enviar otra.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subastas/{id}/pujas/historial:
    get:
      tags: [Pujas]
      summary: Historial de pujas de una subasta
      description: Retorna todas las pujas de una subasta en orden cronológico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: item_id
          in: query
          schema:
            type: integer
          description: Filtrar por ítem específico
        - name: solo_propias
          in: query
          schema:
            type: boolean
          description: Si es true, retorna solo las pujas del usuario autenticado
      responses:
        '200':
          description: Historial de pujas ordenado cronológicamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Puja'
        '403':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subasta no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usuarios/compras/{compra_id}:
    get:
      tags: [Pujas]
      summary: Detalle de una compra ganada
      description: Retorna el desglose completo de una compra, incluyendo comisiones y costo de envío.
      parameters:
        - name: compra_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle de la compra
          content:
            application/json:
              schema:
                type: object
                properties:
                  compra_id:
                    type: integer
                  item:
                    $ref: '#/components/schemas/Item'
                  monto_ofertado:
                    type: number
                  comisiones:
                    type: number
                  costo_envio:
                    type: number
                  total:
                    type: number
                  moneda:
                    type: string
                    enum: [ARS, USD]
                  medio_pago:
                    $ref: '#/components/schemas/MedioPago'
                  estado_pago:
                    type: string
                    enum: [pendiente, pagado, incumplido]
                  direccion_envio:
                    type: string
        '403':
          description: No es tu compra
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Compra no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # CATÁLOGO
  # ─────────────────────────────────────────

  /subastas/{id}/catalogo:
    get:
      tags: [Catálogo]
      summary: Ver el catálogo de una subasta
      description: |
        El catálogo es público. El precio_base solo es visible para usuarios registrados
        (de cualquier categoría). Los usuarios no registrados pueden ver los ítems pero no el precio base.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de ítems del catálogo
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    item_id:
                      type: integer
                    numero_pieza:
                      type: string
                    descripcion:
                      type: string
                    imagenes:
                      type: array
                      items:
                        type: string
                        format: uri
                    precio_base:
                      type: number
                      nullable: true
                      description: Solo visible para usuarios registrados
                    estado:
                      type: string
                      enum: [disponible, en_subasta, vendido]
                    es_obra_arte:
                      type: boolean
        '404':
          description: Subasta no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /items/{item_id}:
    get:
      tags: [Catálogo]
      summary: Detalle completo de un ítem
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Detalle del ítem
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Ítem no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /items/{item_id}/imagenes:
    get:
      tags: [Catálogo]
      summary: Imágenes de un ítem
      parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Lista de imágenes del ítem
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    imagen_id:
                      type: integer
                    url:
                      type: string
                      format: uri
                    orden:
                      type: integer
                    descripcion:
                      type: string
        '404':
          description: Ítem no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # CONSIGNACIÓN
  # ─────────────────────────────────────────

  /consignaciones:
    get:
      tags: [Consignación]
      summary: Listar mis consignaciones
      description: Retorna todas las solicitudes de consignación del usuario autenticado.
      responses:
        '200':
          description: Lista de consignaciones
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Consignacion'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Consignación]
      summary: Solicitar incluir un bien en subasta
      description: |
        El usuario solicita que la empresa evalúe un bien para subastar.
        Debe declarar que el bien le pertenece y no tiene impedimentos legales.
        Si la empresa acepta, el usuario deberá enviar el bien a la dirección indicada.
        Si la empresa no acepta, la devolución tiene cargo al usuario.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [descripcion, fotos, acepta_pertenencia, cuenta_destino_id]
              properties:
                descripcion:
                  type: string
                fotos:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 6
                  description: Mínimo 6 fotos del bien
                datos_adicionales:
                  type: string
                  description: Historia, contexto, curiosidades (opcional)
                acepta_pertenencia:
                  type: boolean
                  description: Declaración de que el bien le pertenece y no tiene impedimentos
                cuenta_destino_id:
                  type: integer
                  description: ID del medio de pago donde acreditar el resultado de la venta
      responses:
        '201':
          description: Solicitud de consignación creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  consignacion_id:
                    type: integer
                  estado:
                    type: string
                    example: "pendiente_revision"
                  mensaje:
                    type: string
        '400':
          description: Menos de 6 fotos, falta la declaración de pertenencia, o datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /consignaciones/{id}/aceptar-condiciones:
    post:
      tags: [Consignación]
      summary: Aceptar valor base y comisiones propuestas por la empresa
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Bien confirmado para incluir en subasta
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Bien confirmado para subasta"
                  subasta_id:
                    type: integer
                  fecha_subasta:
                    type: string
                    format: date-time
        '400':
          description: La consignación no está en estado aceptable para esta acción
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Consignación no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /consignaciones/{id}/rechazar-condiciones:
    post:
      tags: [Consignación]
      summary: Rechazar condiciones y solicitar devolución del bien
      description: El bien será devuelto al usuario. Los gastos de devolución son a cargo del usuario.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Devolución iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensaje:
                    type: string
                    example: "Se iniciará la devolución del bien con cargo al usuario"
                  gastos_estimados:
                    type: number
        '404':
          description: Consignación no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /consignaciones/{id}/ubicacion:
    get:
      tags: [Consignación]
      summary: Ver la ubicación del bien (depósito)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ubicación del depósito donde se encuentra el bien
          content:
            application/json:
              schema:
                type: object
                properties:
                  deposito:
                    type: object
                    properties:
                      nombre:
                        type: string
                      direccion:
                        type: string
                      coordenadas:
                        type: object
                        properties:
                          lat:
                            type: number
                          lng:
                            type: number
                  fecha_ingreso:
                    type: string
                    format: date-time
                  estado_fisico:
                    type: string
        '403':
          description: El bien no le pertenece al usuario autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Consignación no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /consignaciones/{id}/poliza:
    get:
      tags: [Consignación]
      summary: Ver la póliza de seguro del bien
      description: |
        Retorna los datos de la póliza contratada por la empresa para el bien.
        El usuario puede contactar a la aseguradora y ampliar el valor asegurado pagando la diferencia.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Datos de la póliza de seguro
          content:
            application/json:
              schema:
                type: object
                properties:
                  poliza_id:
                    type: string
                  aseguradora:
                    type: object
                    properties:
                      nombre:
                        type: string
                      contacto:
                        type: string
                  valor_asegurado:
                    type: number
                  prima:
                    type: number
                  vigencia_desde:
                    type: string
                    format: date
                  vigencia_hasta:
                    type: string
                    format: date
                  bienes_cubiertos:
                    type: array
                    items:
                      type: integer
                    description: IDs de ítems cubiertos por esta póliza
        '403':
          description: No autorizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Consignación o póliza no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ─────────────────────────────────────────
  # MÉTRICAS E HISTORIAL
  # ─────────────────────────────────────────

  /usuarios/metricas:
    get:
      tags: [Métricas]
      summary: Resumen estadístico del usuario
      responses:
        '200':
          description: Métricas del usuario autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrica'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usuarios/participaciones:
    get:
      tags: [Métricas]
      summary: Historial de participaciones en subastas
      parameters:
        - name: resultado
          in: query
          schema:
            type: string
            enum: [ganada, perdida, en_curso]
          description: Filtrar por resultado
        - name: desde
          in: query
          schema:
            type: string
            format: date
          description: Fecha de inicio del filtro (YYYY-MM-DD)
        - name: hasta
          in: query
          schema:
            type: string
            format: date
          description: Fecha de fin del filtro
      responses:
        '200':
          description: Historial de participaciones
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    subasta_id:
                      type: integer
                    titulo:
                      type: string
                    fecha:
                      type: string
                      format: date-time
                    categoria:
                      $ref: '#/components/schemas/CategoriaUsuario'
                    items_pujados:
                      type: integer
                    items_ganados:
                      type: integer
                    monto_total_ofertado:
                      type: number
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usuarios/multas:
    get:
      tags: [Métricas]
      summary: Ver multas del usuario
      description: Las multas son el 10% del valor ofertado cuando no se cumple con el pago. Deben pagarse antes de participar en otra subasta.
      responses:
        '200':
          description: Lista de multas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Multa'
        '401':
          description: No autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /usuarios/multas/{id}/pagar:
    post:
      tags: [Métricas]
      summary: Pagar una multa pendiente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medio_pago_id]
              properties:
                medio_pago_id:
                  type: integer
      responses:
        '200':
          description: Multa pagada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  multa_id:
                    type: integer
                  estado:
                    type: string
                    example: "pagada"
                  puede_participar_nuevamente:
                    type: boolean
                    example: true
        '400':
          description: Pago fallido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Multa no encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
